@use "../../app/globalStyles/breakpoints.module.scss";

.comic-container {
  display: flex;
  flex-flow: column;

  gap: 12px;
}

.comic-image {
  width: 164px;
  height: fit-content;

  @media (min-width: breakpoints.$tablet) {
    width: 168.53px;
  }

  @media (min-width: breakpoints.$desktop) {
    width: 179.2px;
  }
}

.comic-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;

  max-height: 38px;
  max-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-grow: 1;
}

.comic-year {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
