.inputwrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 12px 16px;
  width: 100%;
}

.label {
  display: inline-flex;
  border-bottom: 1px solid black;
  width: 100%;

  align-items: center;

  gap: 12px;
}

.input {
  height: 27px;
  color: var(--color-primary);
  font-family: var(--font-default);
  line-height: 18.75px;
  width: 100%;

  &::placeholder {
    color: var(--color-placeholder);
  }
}

.icon {
  font-size: 0.75rem;
}

.resultscounter {
  color: var(--color-primary);
  font-size: 0.75rem;
  line-height: 0.9rem;
}
