.favoritebutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizebig {
  font-size: 24px;
}

.sizesmall {
  font-size: 12px;
}

.favorited {
  color: var(--color-accent);
}

.notfavorited {
  color: var(--color-contrast);
}
