.favorited-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-big {
  font-size: 24px;
}

.size-small {
  font-size: 12px;
}

.favorited {
  color: var(--color-accent);
}

.not-favorited {
  color: var(--color-contrast);
}
